extends layout

block content
  h1.
    User List
  ul
    each user, i in data
      table
        thead
          th | #{user.email} |
          th #{user.name}  |
          th #{user.phone}  |
        tbody