extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/users/login/checkuser")
        input#inputUserEmail(type="text", placeholder="User Email", name="useremail")
        input#inputUserName(type="password", placeholder="User Password", name="password")
        button#btnSubmit(type="submit") submit